*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-azul-escuro:#0b2545;
    --color-azul-claro0:#8DA9C4;
    --color-azul-claro2:#13315C;
    --color-azul-claro1:#276ebe;
    --color-azul-claro:#3c87dc;
    --color-mint:#EEF4ED;
    --color-grey: #dadada;

}

@media (min-width: 768px) {
    
.show{
    opacity: 1;
    animation: show 1.3s ;
    filter: blur(0px);
    transition: all 0.75s;

}
    
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 0.75s;
}


.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 0.25s;

}



.hide{
    display: none;
}

.flex{
    display: flex;
}

body{
    display: flex;
    background-color: var(--color-grey);
    flex-direction: column;
    

}

body::-webkit-scrollbar{
    background-color: var(--color-grey);
    color: #00000053;
}

body::-webkit-scrollbar-thumb{
    background-color: #0B2545;
    border-radius: 3px;

}



#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 15px;
    background-color:var(--color-grey);
    color:var(--color-azul-escuro);
    
}

#nav img.logo{
  display: none;
}

#nav .name-div a{
    margin-left: 8px;
}

.desktop-nav{
    display: none;
}

.nav-fixed{
    position: fixed;
    width: 99.9%;
    z-index: 5;
   
}

#mobile-nav{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    animation: fade 1s ;
    position: fixed;
    top: 53%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 99%;
    
}

#mobile-nav h1{
    color: var(--color-mint);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 37px;
}

#mobile-nav h1:hover{
    cursor: pointer;
    color: var(--color-azul-claro);
    transition: 350ms;
}

#mobile-nav ul{
    list-style: none;
}

#mobile-nav ul li{
    margin:1.5em 1em;
}

#mobile-nav ul li a {
   text-decoration: none;
   font-size: 32px;
   color: var(--color-mint);
}

#mobile-nav ul li a:hover{
    transform: scale(1.2);
    color: var(--color-azul-claro);
    transition: 300ms;
}

#mobile-nav ul li:hover{
    transform: scale(1.2);
    color: var(--color-azul-escuro);
    transition: 300ms;
    cursor: pointer;
}

.nav-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3px;
}

.nav-mobile img{
    width: 22px;
    height: 23px;
    margin: 6px 7px 0px 7px;
}

#nav h2{
    font-size: 1.5em;
}

#nav h2:hover{
    color: var(--color-azul-claro);
    transition: 500ms;
}

#menu-hamburguer{
    font-size: 34px;
    font-weight: 600;
    margin-left: 19px;
}

#menu-hamburguer:hover{
    cursor: pointer;
}


#menu-close{
    font-size: 34px;
    font-weight: 600;
    margin-left: 19px;
}

#menu-close:hover{
    cursor: pointer;
}

.nav-mobile img:hover{
    transform: scale(1.1);
    cursor: pointer;
    }
    
#webicons-nav img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

nav button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;

}



#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
   
}

.arrow-header-icon{
    margin-right: 33px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    padding: 2em 20px 0em 20px;
    white-space: nowrap;
    width: 93%;
  
    
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2px;

}

.header h1{
    text-align: center;
    font-size: 1.85em;
    color: var(--color-azul-escuro);
    padding-right: 4px;
    border-right: 6px solid var(--color-azul-escuro);
    overflow: hidden;
    font-family: "Nunito";

}

.header p{
    font-size: 1em;
    font-weight: 400;
    color: var(--color-azul-escuro);

}

.header button{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 1.1em 1.5em;
    border-radius: 20px;
    border: 2px solid var(--color-azul-escuro);
    color: var(--color-azul-escuro);
   

}

.header button:hover{
    transform: scale(1.1);
    transition: 400ms;
    cursor: pointer;
    color: var(--color-azul-claro);
    border: 2px solid var(--color-azul-claro);

}



header a span{
    
    position: absolute;
    bottom: 10px;
    color: var(--color-azul-escuro);
}

section h2{
    font-size: 2.3em;
    color: var(--color-azul-escuro);
    margin-bottom: 5px;
}

section#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0.75em;
    margin-top: 4em;
    
   
}

section#about p{
    text-align: center;
    margin: 1em 1em 10px 1em;
    color: rgb(47, 47, 47);
    font-size: 17px;
    line-height: 1.6;
}

section#experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-top: 4em;
  
}

.exp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    gap: 0px;
}

.exp-titles{

    border-radius: 4px;
    min-width: 265px;
}

.title-exp{

    padding: 1.35rem;
    
    background-color: #d4d4d4;

}

.title-exp{
    cursor: pointer;
}

.active-exp{
    border-left: 3px solid var(--color-azul-escuro);
}

.desc-header{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.exp-desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 1.5rem;
    padding: 6px;
}

.exp-desc h4{
    font-size: 20px;

}

.exp-desc span{
    font-size: 17.3px;
}

.exp-desc h3{
    font-size: 24px;
    color: var(--color-azul-escuro);
}

.exp-desc p{
    font-size: 18px;
}


section#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-top: 1em;

}

section#skills h2{ 
    margin-top: 20px;
}


.container-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: 3em 0.5em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--color-azul-escuro);
    width: 100px;
    padding: 13px 7px 15px;
    margin: 1.75em;
    border-bottom: 5px solid var(--color-azul-claro) ;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.card p {
    font-size:1.15rem;
    margin-bottom: 7px;
    color: var(--color-azul-claro)
}

.card i{
    font-size: 4rem;
    color:var(--color-azul-claro);
}

.card:hover{
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}



.container-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em 3.5em 1em 3.5em;
}

.service-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.15em;
    margin: 1.6em 0em;
}

.service-row span{
    font-size: 4.5em;
    color: var(--color-azul-escuro);
}

.content-row h2{
    font-size: 1.5em;

}

.content-row p{
    font-size: 14px;
    
}


section#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
       
    
}

section#projects h2{
    margin-bottom: 1.75em;
}

#nav-projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--color-azul-escuro);
    margin-bottom: 2em;
}

#nav-projects div{
    padding: 6px 12px;
}

#nav-projects div:hover{
    cursor: pointer;
    color: var(--color-azul-claro1);
   
}

.all-projects{
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.highlights-projects{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 5px 1em;
  
}

.box .content img{
    border: 0.75px solid var(--color-azul-claro);
}

.normal-project{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 5px 1em;
}

.box:hover{
    transform: scale(1.1);
    transition: 550ms;
}

.box:hover .description{
    opacity: 1;
    display: flex;
    animation: showDown 0.55s forwards;
    
  
}

.box:hover .content{
    transform: scale(1.01);
}

.description{
    opacity: 0;
    background-color:var(--color-azul-escuro);
    padding: 0.85rem 1.06rem 1rem 1.06rem;
    position: relative;
    bottom: 15px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 2rem 2rem;
    cursor: pointer
}

.description p {
    color: var(--color-mint);
    font-size: 13px;
}

.description a {
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid var(--color-azul-claro);
    color: var(--color-mint);
    border-radius: 10px;
    font-size: 13px;

}

.description a:hover{
    color: var(--color-azul-claro);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -16.85px;
    
}

.content:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 600ms;
}

.content img{
    width: 300px;
    height: 190px;
}

.details{
    position: relative;
    bottom: 106px;
    color:var(--color-mint);
    font-weight: bolder;
    font-size: 21px;

}


.selected{
    border-bottom: 2.2px solid var(--color-azul-claro1);
}

div#modal-parent{
    display: flex;
    flex-direction: row;
}

div#modal{
    display: none;
    flex-direction: column;
    align-items: center;
    max-height: 660px;
    width: 76%;
    padding: 2rem;
    gap: 1.85rem;
    background-color: var(--color-grey);
    border-radius: 1rem;
    animation: fade 1s;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    color: var(--color-azul-escuro);
    overflow-y: scroll;
    

}

div#modal::-webkit-scrollbar{
    color: var(--color-azul-claro);
    width: 5px;
    

}

div#modal img{
    width: 100%;
}

div#modal video{
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }


.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.modal-header span{
    position: absolute;
    right: 32px;
    margin-top: 2px;
    font-size: 28px;
}

.modal-header span:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.modal-content{
    margin-top: 10px;
}

.modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h3{
    margin: 1em 0em;
}

.modal-content ul{
    list-style: none;
    text-align: left;
}

.modal-content ul li{
    padding-bottom: 8px;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--color-azul-escuro);
}

.modal-content p{
    display: inline;
    margin-right: 5px;
    font-size: 12px;
}

.modal-content a{
   color: var(--color-azul-claro2);
   font-size: 12px;
}

.hidden-arrow{
    display: none;
}


section#contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0em;
   
   
}

.contacts-icon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3em 1em 2em 1em;
}

.contacts-icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 1em;
    gap: 10px;
}


.icon-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3em 2em;

}

.icon-contact:hover{
    transform: scale(1.1);
    transition: 220ms;
    cursor: pointer;
}

.icon-contact a{
    text-decoration: none;
    color: var(--color-azul-escuro);
}


.icon-contact span{
    background-color: var(--color-azul-escuro);
    padding: 0.3em;
    border-radius: 50%;
    color: var(--color-azul-claro);
    font-size: 40px;
    margin-bottom: 14px;
}

.icon-contact img{
    background-color: var(--color-azul-escuro);
    padding: 0.7em;
    border-radius: 50%;
    margin-bottom: 5px;
}


footer{
    display: flex;
    text-align: center;
    padding: 1em;
    color: var(--color-azul-escuro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -11rem;
}



.bold{
    font-weight: bold;
   
   
}

.transparent{
    overflow-y: hidden;
    position: fixed;
    width: 100%; 
}

.transparent2{
    overflow-y: hidden;
    position: fixed;
    width: 100%; 
}

body.transparent::after{
    content: "";
    width: 100%;
    height: 1000%;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    animation: fade 1s;
}

body.transparent2::after{
    content: "";
    width: 100%;
    height: 1000%;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    animation: fade 1s;
}



.typingAnimations{
    animation: blink steps(30) 550ms infinite normal,
     typing 4s steps(30) 2s infinite alternate-reverse
     
}

.slideAnimation{
    animation: slide 1200ms infinite normal

    
}

.looping-border-button {
    position: relative;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: color 0.4s;
    animation: borderAnimation 2s linear infinite; 
}

@keyframes borderAnimation {
    0% {
        border: 2px solid var(--color-azul-escuro); 
    }
    25% {
        border: 2px solid var(--color-azul-claro2); 
    }
    50% {
        border: 2px solid var(--color-azul-claro1);
    }
    75% {
        border: 2px solid var(--color-azul-claro);
        transform: scale(1.05); 
    }
    100% {
        border: 2px solid var(--color-azul-claro1);
    }
}


@keyframes show {

    from{
        opacity: 0;
        transform: translateX(-8rem);

    }
    to{
        transform: translateX(0rem);

    }
    
}


@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes showDown {

    from{
        opacity: 0;
        bottom: 104px;
    }
    to{
        opacity: 1;
      
    }
    
}


@keyframes slide {

    from{
        opacity: 0;
        bottom: 30px;
    }
    to{
        opacity: 1;
        bottom: 5px;
    }
    
}

@keyframes blink {
    from{
        border-right-color: #0B2545;
    }
    to{
        border-right-color: transparent
    }
}

@keyframes typing {

    from{
        width: 0;
    }
    to{
        width: 103%;
    }

}


@keyframes typingBack {

    from{
        width: 96%;
    }
    to{
        width: 0%;
    }

}





@media (min-width:768px) {
    
    header{
        height: 100vh;
    }

    .header p{
        font-size: 1.5em;
    }

    .arrow-header-icon{
        margin-right: 25px;
    }

    .contacts-icon{
        flex-direction: row;
        margin: 3em 1.3em 2em 0em;
    }

    .modal-container{
    flex-direction: column;
   
  }

  div#modal img{
    width: 80%;
    height: 240px;
    margin: 10px 0em;
  }

  div#modal video{
    width: 80%;
    margin-bottom: 2em;
    
  }

  .modal-content{
    margin-top: 0px;
    margin: 5px 3em;
}


.modal-content p{
    font-size: 13px ;
}

.modal-content a{
   font-size: 13px;
}

.contacts-icon div{
    margin: 3em 2em;
    gap: 5px;
}

}


@media (min-width:1000px) {

    body{
        flex-direction: row;
    }

    body.transparent2::after{
        content: "";
        width: 0%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.092);
        backdrop-filter: blur(3px);
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        animation: fade 1s;
    }
    
    footer{
        margin-top: 0rem;
    }

    #mobile-nav{
        display: none;
    }

    .nav-mobile{
        display: none;
    }
  
    .desktop-nav{
        display: flex;
        flex-direction: column;
    }

    .nav-fixed{
        width: 19%;
        z-index: 0;
       
    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 10px 6px 10px 5px;
        box-shadow: 2px -2px 18px #0000005b;
    }

    #nav h2{
        display: none;
    }

    .name-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav img.logo{
        display: flex;
        border-radius: 49%; 
        border: 2px solid var(--color-azul-claro1);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.549);
        width: 60%;
        max-width: 380px;
        max-height: 380px;
        margin: 10px auto -5px;
        
    }

    #nav img.logo:hover{
        transform: scale(1.02);
        transition: 300ms;
    }

    nav.desktop-nav{
        margin-right: 10px;
    }

    nav.desktop-nav ul{
        margin-top: 1.75rem;
        list-style: none;
        text-align: center;
    }

    nav.desktop-nav ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 13px;
        
    }

    nav.desktop-nav ul li svg{
        font-size: 1.29em;
    }

    nav.desktop-nav ul li a{
        text-decoration: none;
        color:black;
        padding: 1em 0em;
        font-size: 18px;
        font-weight: 500;
    }

    nav.desktop-nav ul li:hover{
        color:var(--color-azul-claro);
    }

    nav.desktop-nav ul li a:hover{
        color:var(--color-azul-claro);
    }


    nav.desktop-nav ul li button{
        border-radius: 10px;
        color:var(--color-mint) ;
        background-color: var(--color-azul-escuro);
        padding: 0.75em 1.25em;
        margin: 10px;
        font-size: 15px;

    }

    #webicons-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1.5em 0em;
    }

    #webicons-nav img{
        display: flex;      
        width: 28px;
        height: 29px;
        margin: 6px 10px 0px 10px;
    }

    #main-content{
        padding-left: 17em;
        gap: 0em;
    }

    header{
       padding-top: 0em;
    }

    .header h1{
        font-size: 3.85em;
    }

    section#about p{
        font-size: 18.5px;
    }

    section#experience{
        width: 90%;   
    }

    .exp-desc{
        margin-top: 0.1rem;
        padding: 0px 20px;
        gap:20px
    }

    .exp-desc p{
        font-size: 18.8px;
    }

    .desc-header{
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
    }
    
    .exp-titles{
        padding: 0px 20px 25px 20px;
    }
    
    section#skills{ 
        margin-top: 10em;
    }

    section#skills h2{ 
        margin-top: 2em;
    }

    .container-service{
        width: 75%;
        max-width: 835px;
        padding: 0 3.5em;
    }

    .content-row h2{
        font-size: 2.02em;
    
    }
    .service-row span{
        font-size: 4.75em;
        
    }

    
    .content-row p{
        font-size: 16px;
        
    }


    section#contacts{
        height:85vh ;
       padding: 1em;
    }

    section#projects{
        margin: 11.4em 0em 5em 0em;
    }

    section#about{
        height:100vh ;
        width: 70%;
    }

    div#modal img{
        width: 65%;
    }


    .modal-content{
        margin: 5px 7em;
    }

    .modal-content p{
        font-size: 15px ;
    }
    
    .modal-content a{
       font-size: 15px;
    }
  
    .modal-header span{
        margin-top: 0px;
        font-size: 32px;
    }

    .modal-arrow{
        position: fixed;
        top: 50%;
        z-index: 6;
        transform: translate(-50%, -50%);
        font-size: 4.5em;
        margin:5px;
        color: var(--color-mint);
    }
    
    .modal-arrow:hover{
        color: var(--color-azul-claro1);
        transition: 300ms;
        cursor: pointer;
        font-size: 4.55em;
    }
    
    #modalArrowPrev{
        left: 4%;
    }
    
    #modalArrowNext{
        
        right: -1.5%;
    }
    
    div#modal video{
        width: 70%;
        margin-bottom: 2em;
        
      }
    


    
}

@media (max-width:440px) {

  #icons-nav{
    display: none;
  }

  #nav h2{
    font-size: 1.39em;

  }

  #menu-hamburguer{
    font-size: 30px;
  }

  #menu-close{
    font-size: 30px;
  }

  header{
    width: 90%;
  }

  .container-service{
  padding: 1em 18px;
  margin-top: 1em;
}

body.transparent2::after{
    width: 106%;
}

  

}

@media (max-width:600px) {
    header{
      width: 90%;
    }

    #mobile-nav h1{
        margin-bottom: 0.5em;
        font-size: 34px;
    }

    #mobile-nav ul li a{
       
        font-size: 28px;
    }

    #mobile-nav ul li{
       
        margin: 2em 10px;
    }
    
    div#modal video{
        width: 325px;
        margin-top: 1em;
        margin-bottom: 1em;
        
    }

    .container-skills{
        width: 98%;
    }
    
  }

@media (min-width:1370px) {


    #main-content{
        padding-left: 21em;
    }

    .exp-container{
        display: flex;
        flex-direction: row;
        margin-top: 4.25rem;
        gap: 30px;
    }

    .exp-titles{
        padding: 0px;
    }

    div#modal img{
        width: 520px;
        height: 400px;
        margin: 13px 3em 10px 0.75em;
      }

      .modal-content p{
        font-size: 15.7px ;
    }
    
    .modal-content a{
       font-size: 15.7px;
    }
}

@media (min-width: 1250px){

    .modal-container{
        flex-direction: row;
        align-items: normal;
    }

    .modal-content{
        margin: 0px;
    }

    div#modal img{
        width: 530px;
        height: 410px;
        margin: 13px 3em 10px 0.75em;
      }

      
    div#modal video{
        width: 520px;
        height: 90%;
        margin: 50px 3em 10px 0.75em;
        
      }

    .modal-content p{
        font-size: 14.5px ;
    }
    
    .modal-content a{
       font-size: 14.5px;
    }

   
    
}

@media (min-width: 1670px){
    section#experience{
        width: 75%;
        max-width: 1400px;
        
    }
}

@media (max-height: 850px){


    .desktop-nav ul li{
        margin: -7px 0px;
    }

    .desktop-nav ul li button{
        font-size: 14px !important;
    }

    #webicons-nav {
        margin: -5px 0px 12px 12px !important;
    }
}

@media (max-height: 700px){

    .desktop-nav ul li{
        margin: -12px 0px;
    }

    .desktop-nav a {
        font-size: 16px !important; 

    }

}