.env
.env*.local
/node_modules

# next.js
/.next/
/out/
.turbo
*.tsbuildinfo

dist
build
coverage
.DS_Store
*.log
*.tmp
*.bak
*.swp
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.class
*.jar